body {
    background-color:aliceblue;
}
header, footer {
    background-color:rgb(53, 49, 188);
    text-align: center;
    padding: 2px;
    border-radius: 10px;

}

h1, h5 {
    font-family: 'Pattaya', sans-serif;
}

p {
  color: black;
  font-family: 'Pattaya', sans-serif;
  font-size: 3ch;
}

nav {
    margin: 20px;
}
 nav a {
    font-family: 'Pacifico', cursive;
    color: black;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    transition: 2s;
 }
  nav a:hover {
    background-color: aqua;
    color: black;
  }

  button {
    color: black;
    background-color: rgb(47, 218, 50);
    font-family: 'Pattaya', sans-serif;
    block-size: 25px;
    border-radius: 5px;
  }
   span {
    color: rgb(227, 48, 12);
    font-family: 'Pattaya', sans-serif;
    font-size: 10ch;
    text-decoration: underline;
   }
    div {
      background-color: greenyellow;
      font-family: 'Pattaya', sans-serif;
      font-size: 2ch;
      text-decoration: underline;
      border-radius: 5px;
    }
